<div class="finished-mad-lib">
  <p class="finished-mad-lib-text"> <%= @output %> </p>

  <form method="get" action="<% @btnLink %>">
    <button id="mad-lib-back-button" type="submit"><%= @buttonText %></button>
  </form>
<div>


