<% @mad_lib_info.each do | mad_lib | %>
  <div class="mad-lib">
    <p class="mad-lib-title"> <%= mad_lib[1] %> </p>
    <p class="mad-lib-description"> <%= mad_lib[2] %> </p> <br>   
  </div>
<% end %>

<div class="input-area">
  <form method="POST">
    <% @pattern_array.each do | inputs | %>
      <div class="query-term">  
        <b class="label">
          <%= inputs %>
        </b>
        <input name="input_array[]"><br>
      </div>
    <% end %>
    <input class="create-button" type="submit" value="Create">
  </form>
</div>

