body {
  margin: 0px;
  background-color: #585858;
}

#title-bar {
  margin: 0 auto;
  width: 1000px;
  height: 70px;
  background-color: #A4A4A4;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

#title-text {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  font-family: arial;
}

#content {
  margin: 25px auto;
  width: 750px;
  height: 2000px;
  background-color:  #A4A4A4;
  border: 1px solid #000000;
  border-radius: 5px;
}

